<!-- {% if site.ads %}<div class="banner-wrapper">
  {% if page.url != '/404.html' %}{% include ad.html %}{% endif %}
</div>{% endif %} -->
<footer class="site-footer">
  <div class="wrapper">
      <div class="copy">
          {{ site.time | date: '%Y' }} &copy; {{ site.title }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系邮箱: csig_bvd@163.com

      </div>
  </div>
</footer>
